<h1>About Meadowlark Travel</h1>

<p>Your fortune for the day: </p>
<blockquote>{{fortune}}</blockquote>

<h1 style="text-align: center;">{{message}}</h1>

<h3>Style: {{style}}</h3>

<h3>Userid: {{userid}}</h3>

<h3>Username: {{username}}</h3>